.chose-one{
    background-color: #FEF3EF;
    text-align: center;
}
.chose-two{
    background-color: #FEF3EF;
    text-align: center;
}
.chose-three{
    background-color: #FEF3EF;
    text-align: center;
}
.chose-four{
    background-color: #FEF3EF;
    text-align: center;
}
.chose-five{
    background-color: #FEF3EF;
    text-align: center;
}
.fa-shield-halved{
    font-size: 48px;
    color: orange;
}
.icon-check{
    font-size: 48px;
    color: green; 
}
.fa-face-smile{
    font-size: 48px;
    color: #2F6AE1; 
}
.why-choose{
    color: orange;
}
.fa-user-tie{
    font-size: 48px;
    color: #D5414F;
}